@using Core.Models
@using services.tools.Image
@model Setting?

<div class="row justify-content-start">
    <div class="alert alert-primary" role="alert">
        <h3 class="text-center">مدیرت متن درباره من</h3>
    </div>
</div>

@if (Model == null)
{
    <div class="row justify-content-start">
        <div class="row justify-content-start">
            <div class="alert alert-secondary" role="alert">
                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#add_setting">ایجاد متن درباره من
                </a>
            </div>
        </div>
    </div>
}
<div class="row justify-content-start">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>#</td>
            <td>شعار من</td>
            <td>تلفن اول</td>
            <td>تلفن دوم</td>
            <td>توضیحات</td>
            <td>لگو</td>
            <td>آدرس</td>
            <td>امکانات</td>
        </tr>
        @if (Model != null)
        {

            <tr>
                <td>@Model.Id</td>
                <td>@Model.Slogan</td>
                <td>@Model.Phone1</td>
                <td>@Model.Phone2</td>
                <td>@Model.Description</td>
                <td>
                    <img src="@(PathExtention.SettingOrigin + Model.LogoPath)" width="100" height="100">
                </td>
                <td>@Model.Address</td>
                <td>
                    <div>
                        <a asp-controller="Setting" asp-action="Remove" asp-route-id="@Model.Id"
                            class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6" width="25px" height="25px">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                            حذف
                        </a>
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="8">
                    <div class="alert alert-info" role="alert">
                        <p>متنی یافت نشد</p>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


<div class="modal fade" id="add_setting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ایجاد متن</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Setting" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Slogan">
                        <label for="floatingInput">شعار</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Phone1">
                        <label for="floatingInput">تلفن اول</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Phone2">
                        <label for="floatingInput">تلفن دوم</label>
                    </div>
                    <div class=" mb-3">
                        <label for="floatingInput"> لگو</label>
                        <input type="file" class="form-control" name="LogoPath">

                    </div>
                       <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Address">
                        <label for="floatingInput">آدرس کمپانی</label>
                    </div>
                    <div class="mb-3">
                        <textarea type="text" class="form-control" name="Description"></textarea>
                        <label for="floatingInput">متن درباره من</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>