@using Endpoint.Models
@using services.tools.Image
@model IndexViewModel
@if (Model.Sliders.Any())
{
    <div id="owl-mainslider" class="owl-carousel owl-theme text-center" style="z-index:5">
        @foreach (var s in Model.Sliders)
        {
            <div class="item w-100">
                <img src="@(PathExtention.SlideryOrigin + s.ImagePath)" class="img-fluid" />
            </div>
        }
    </div>
}
else
{
    <div id="owl-mainslider" class="owl-carousel owl-theme text-center" style="z-index:5">
        <div class="item">
            <img src="~/Img/slide9.jpg" class="img-fluid" />
        </div>
    </div>
}
<div class="container verify"
    style="margin-top:-45px;z-index:100;position:relative;max-width:1100px;justify-content:center">
    <div class="row  bg-white  px-5 pt-3 shadow radius10 IRANSans_Bold text-center justify-content-center">
        @if (Model.CompetitiveAdvantages.Any())
        {
            foreach (var c in Model.CompetitiveAdvantages)
            {
                <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
                    <img src="@(PathExtention.CompetitivedvantagesOrigin + c.LogoPath)" class="mb-2" />
                    <h2>@c.Name</h2>
                </div>
            }
        }
       
    </div>
</div>

<div class="container eslimipic">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="~/Img/456.png" class="justify-content-center" />
        </div>
    </div>
</div>

<section class="container blog-grid p_relative">

    <div class="d-flex flex-row mb-3">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <a href="#"><span>مشاهده بیشتر</span></a>
            <h1 class="testt text-right">محصولات گرمایشی</h1>
        </div>
    </div>
    <div id="" class="owl-carousel owl-theme owl-decoproject text-right " style="z-index:0!important">
@if(Model.Products.Where(x=>x.ProductType==ProductType.HOT).Any()){
    foreach(var p in Model.Products.Where(x=>x.ProductType==ProductType.HOT)){
        <div class="m-2 blog_style ">
            <a href="/Home/ProdutDetaile/@p.Id">
                <img class="card-img-top" src="@(PathExtention.ProductCoverOrigin + p.CoverPath)" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">@p.Name</a></h3>
                <p style="height: 40px; overflow: hidden;">
                    @Html.Raw(p.ShortDescription)
                </p>
                <span><i class=" ml-2"></i>مدل :  @p.Model</span>
                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>@p.Category.ParentCategory.Name - @p.Category.Name </span>
                </div>
            </div>
        </div>
    }
}
       

    </div>
</section>
<section class="container blog-grid p_relative">

    <div class="d-flex flex-row mb-3">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <a href="#"><span>مشاهده بیشتر</span></a>
            <h1 class="testt text-right">محصولات سرمایشی</h1>
        </div>
    </div>
    <div id="" class="owl-carousel owl-theme owl-decoproject text-right " style="z-index:0!important">
@if(Model.Products.Where(x=>x.ProductType==ProductType.COOLD).Any()){
    foreach(var p in Model.Products.Where(x=>x.ProductType==ProductType.COOLD)){
        <div class="m-2 blog_style ">
            <a href="/Home/ProdutDetaile/@p.Id">
                <img class="card-img-top" src="@(PathExtention.ProductCoverOrigin + p.CoverPath)" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">@p.Name</a></h3>
                <p style="height: 40px; overflow: hidden;">
                    @Html.Raw(p.ShortDescription)
                </p>
                <span><i class=" ml-2"></i>مدل :  @p.Model</span>
                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>@p.Category.ParentCategory.Name - @p.Category.Name </span>
                </div>
            </div>
        </div>
    }
}
       

    </div>
</section>
<section class="container blog-grid p_relative">

    <div class="d-flex flex-row mb-3">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <a href="#"><span>مشاهده بیشتر</span></a>
            <h1 class="testt text-right">فن ها</h1>
        </div>
    </div>
    <div id="" class="owl-carousel owl-theme owl-decoproject text-right " style="z-index:0!important">
@if(Model.Products.Where(x=>x.ProductType==ProductType.FAN).Any()){
    foreach(var p in Model.Products.Where(x=>x.ProductType==ProductType.FAN)){
        <div class="m-2 blog_style ">
            <a href="/Home/ProdutDetaile/@p.Id">
                <img class="card-img-top" src="@(PathExtention.ProductCoverOrigin + p.CoverPath)" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">@p.Name</a></h3>
                <p style="height: 40px; overflow: hidden;">
                    @Html.Raw(p.ShortDescription)
                </p>
                <span><i class=" ml-2"></i>مدل :  @p.Model</span>
                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>@p.Category.ParentCategory.Name - @p.Category.Name </span>
                </div>
            </div>
        </div>
    }
}
       

    </div>
</section>
@if(Model.Setting != null){
    <section class="container mt-5">

    <section class="container bg-cudark text-white radius15 text-lg-right text-center my-5">
        <div class="row py-4 px-3 ">
            <div class="mb-3 d-flex align-items-center w-100">
                <div class="gold radius25 px-3">شرکت فنی و مهندسی ایلتای </div>
                <div class="border-top flex-grow-1 ms-2 border-gold"></div>
            </div>
            <div class="col-lg-10  order-lg-0 order-1">
                <h3 class="IRANSans_Bold text-bro mb-2">@Model.Setting.Slogan</h3>
                <p class="mb-3">
                  @Model.Setting.Description
                </p>
            </div>
            <div class="col-lg-2 text-lg-left order-lg-1 order-0">
                <img src="@(PathExtention.SettingOrigin + Model.Setting.LogoPath)" class="py-lg-0 p-3" />
            </div>
        </div>
    </section>

</section>
}




@if(Model.Companies.Any()){
<section class="container spicblog mt-4">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row mb-lg-2 mb-3">
            <div class="Dottedstocol ml-3"></div>
            <div class="singletitle">
                <span>مقالات</span>
                <h1 class="text-right">دانستنی های طراحی و دکوراسیون داخلی</h1>
            </div>
        </div>

        <div class="pl-lg-4 pt-lg-4">
            <a href="blog_grid.html" class="IRANSans_Medium btn btn-brow radius20">مقالات بیشتر ..</a>
        </div>
    </div>

    <div class="owl-carousel owl-theme owl-projects">
        @foreach(var com in Model.Companies){
            <div class="m-3">
            <div class="d-flex flex-lg-column flex-md-row flex-column mb-3">
                <a href="/Home/ProjectDetaile/@com.Id" class="piec4 grid mb-lg-3">
                     <figure class="effect-sadie radius15">
                        <img src="@(PathExtention.ProjectOrigin + com.CompanyLogo)" alt="img01" class="radius15" style="min-height: 400px;" />
                        <figcaption>
                            <h2 class="IRANSans_Bold">@com.Title</h2>
                            <p>@com.CompanyName</p>
                        </figcaption>
                    </figure> 
                </a>
            </div> 
        </div>
        }
       
       
    </div>
</section>
}

